body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --paragraph-rg: Inter;
    --font-exo-2: "Exo 2";
  
    /* font sizes */
    --paragraph-rg-size: 1rem;
    --font-size-xl: 1.25rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.188rem;
    --font-size-2xl-6: 1.35rem;
    --font-size-mid: 1.063rem;
    --font-size-45xl: 4rem;
    --font-size-32xl: 3.188rem;
    --font-size-19xl: 2.375rem;
    --font-size-37xl: 3.5rem;
    --font-size-26xl: 2.813rem;
    --font-size-15xl: 2.125rem;
    --paragraph-sm-size: 0.875rem;
    --font-size-6xl: 1.563rem;
  
    /* Colors */
    --neutral-gray-600: #151934;
    --neutral-gray-800: #0e1330;
    --neutral-black-1000: #060b27;
    --neutral-gray-500: #282d45;
    --neutral-white-200: #f6f6f7;
    --neutral-gray-300: #8f9bb7;
    --primary-blue-violet: #7214ff;
    --neutral-white: #fff;
    --color-slategray-100: #5c6178;
    --color-slategray-200: rgba(92, 97, 120, 0.09);
    --color-silver: #c4c4c4;
    --color-blueviolet: #993bff;
  
    /* Gaps */
    --gap-xl: 1.25rem;
    --gap-mini: 0.938rem;
    --gap-17xl: 2.25rem;
    --gap-6xl: 1.563rem;
    --gap-16xl: 2.188rem;
    --gap-mid: 1.063rem;
    --gap-41xl: 3.75rem;
    --gap-11xl: 1.875rem;
    --gap-20xl: 2.438rem;
    --gap-54xl: 4.563rem;
    --gap-3xs: 0.625rem;
    --gap-5xl: 1.5rem;
    --gap-21xl: 2.5rem;
    --gap-xs: 0.75rem;
  
    /* Paddings */
    --padding-xl: 1.25rem;
    --padding-8xs: 0.313rem;
    --padding-9xs: 0.25rem;
    --padding-26xl: 2.813rem;
    --padding-10xl: 1.813rem;
    --padding-10xs: 0.188rem;
    --padding-mini: 0.938rem;
    --padding-11xs-5: 0.094rem;
    --padding-11xs: 0.125rem;
    --padding-81xl: 6.25rem;
    --padding-23xl: 2.625rem;
    --padding-46xl: 4.063rem;
    --padding-111xl: 8.125rem;
    --padding-65xl: 5.25rem;
    --padding-2xl: 1.313rem;
    --padding-3xs: 0.625rem;
    --padding-5xl: 1.5rem;
    --padding-40xl: 3.688rem;
    --padding-30xl: 3.063rem;
    --padding-3xl: 1.375rem;
    --padding-6xs: 0.438rem;
    --padding-7xs: 0.375rem;
    --padding-6xl: 1.563rem;
    --padding-198xl: 13.563rem;
    --padding-89xl: 6.75rem;
    --padding-51xl: 4.375rem;
    --padding-13xl: 2rem;
    --padding-11xl: 1.875rem;
    --padding-20xl: 2.438rem;
    --padding-190xl: 13.063rem;
    --padding-117xl: 8.5rem;
    --padding-xl-3: 1.269rem;
    --padding-xl-2: 1.263rem;
    --padding-53xl: 4.5rem;
    --padding-28xl: 2.938rem;
  
    /* Border radiuses */
    --br-5xs: 8px;
    --br-3xs: 10px;
    --br-17xl: 36px;
    --br-21xl: 40px;
    --br-xl: 20px;
    --br-9xs: 4px;
    --br-43xl-1: 62.1px;
  }
    