.bg-shape-color,
.vector-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.bg-shape-color {
  width: 100%;
  height: 36.625rem;
  margin: 0 !important;
  right: 0;
  bottom: -1.562rem;
  left: 0;
  flex-shrink: 0;
}
.vector-icon {
  width: calc(100% - 3.4px);
  top: calc(50% - 25.95px);
  right: 0.119rem;
  left: 0.094rem;
  height: 3.225rem;
}
.logo-child {
  position: absolute;
  top: calc(50% - 24.45px);
  left: calc(50% - 24.55px);
  width: 2.994rem;
  height: 2.994rem;
  object-fit: contain;
  z-index: 1;
}
.iedc,
.logo {
  position: relative;
}
.logo {
  height: 3.431rem;
  width: 3.444rem;
}
.iedc {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(180deg, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 6.688rem;
  white-space: nowrap;
}
.navbar-brand {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.125rem 0.188rem;
  gap: var(--gap-mini);
}
.home {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 2.813rem;
}
.navbar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  color: var(--neutral-white);
}
.about {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 2.875rem;
}
.navbar-link1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.features {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 3.813rem;
}
.navbar-link2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.pricing {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 3.438rem;
}
.navbar-link3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.blog {
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  min-width: 1.938rem;
}
.navbar-link4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.navbar-menu,
.registor {
  font-size: var(--paragraph-rg-size);
  font-family: var(--paragraph-rg);
  text-align: left;
}
.navbar-menu {
  margin: 0;
  width: 24.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
  color: var(--neutral-gray-300);
}
.registor {
  position: relative;
  line-height: 1rem;
  font-weight: 500;
  color: var(--neutral-white);
  display: inline-block;
  min-width: 4rem;
}
.primary-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-6xl);
  background-color: var(--primary-blue-violet);
  border-radius: var(--br-17xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.primary-button:hover {
  background-color: var(--color-blueviolet);
}
.navbar,
.navbar-container {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.navbar-container {
  width: 76.5rem;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navbar {
  align-self: stretch;
  border-bottom: 1px solid var(--neutral-gray-600);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-xl);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-26xl);
  font-family: var(--paragraph-rg);
}
.introducing {
  margin: 0;
}
.hackatly,
.span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hackatly {
  background: linear-gradient(180deg, #7e808f 48.4%, #f6f6f7);
}
.span {
  background: linear-gradient(136.81deg, #01c277 28.9%, #7214ff);
}
.hackatly-24 {
  margin: 0;
  font-size: 4.625rem;
}
.h1 {
  height: 8.688rem;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 4.5rem;
  display: inline-block;
}
.a-national-level,
.college-of-engineering,
.hosted-by-iedc {
  margin: 0;
}
.subtitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-6xl);
  line-height: 1.625rem;
  font-weight: 400;
  font-family: inherit;
  color: var(--neutral-gray-300);
  padding-right: var(--padding-6xl);
}
.title {
  width: 26.75rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 26.75rem;
  max-width: 100%;
}
.innovation-amico-1-icon {
  height: 33.688rem;
  width: 34.563rem;
  position: relative;
  object-fit: cover;
  mix-blend-mode: hard-light;
  max-width: 100%;
}
.title-container {
  width: 75.063rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6.969rem var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.hero-bg-color-blur {
  width: 120rem;
  height: 58.313rem;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  z-index: 1;
}
.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 56.375rem;
  max-width: 100%;
}
.bg-shape-color1 {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: -0.875rem;
  top: 0;
  transform: scale(2.567);
}
.wrapper-bg-shape-color {
  height: 53.831rem;
  width: 230.175rem;
  position: absolute;
  margin: 0 !important;
  top: -2.362rem;
  left: -6.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.hackatly-241 {
  font-size: 4.556rem;
}
.h5,
.paragraph-rg {
  align-self: stretch;
  position: relative;
}
.h5 {
  letter-spacing: -0.03em;
  line-height: 3.375rem;
}
.paragraph-rg {
  font-size: var(--font-size-2xl-6);
  line-height: 2.025rem;
  color: var(--neutral-gray-300);
}
.inner-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.688rem;
  flex-shrink: 0;
  margin-top: 7rem;
}
.view-pricing {
  position: relative;
  font-size: var(--font-size-2xl-6);
  line-height: 1.375rem;
  font-weight: 500;
  font-family: var(--paragraph-rg);
  color: var(--neutral-white-200);
  text-align: left;
  display: inline-block;
  min-width: 7.375rem;
}
.secondary-button {
  cursor: pointer;
  border: 1.6px solid var(--neutral-gray-500);
  padding: 1.269rem var(--padding-13xl) 1.262rem;
  background-color: transparent;
  border-radius: var(--br-43xl-1);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.secondary-button:hover {
  background-color: var(--color-slategray-200);
  border: 1.6px solid var(--color-slategray-100);
  box-sizing: border-box;
}
.inner-container {
  width: 67.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0.006rem;
  box-sizing: border-box;
  gap: 2.953rem;
  min-width: 42.188rem;
  max-width: 100%;
  z-index: 1;
}
.bg-shape-icon {
  height: 100%;
  width: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0.5rem;
  top: 0;
  transform: scale(2.852);
}
.card,
.wrapper-bg-shape {
  display: flex;
  justify-content: center;
}
.wrapper-bg-shape {
  height: 45.55rem;
  width: 108.506rem;
  position: absolute;
  margin: 0 !important;
  top: -2.362rem;
  left: -3.125rem;
  z-index: 2;
  align-items: center;
}
.card {
  align-self: stretch;
  border-radius: 13.5px;
  background-color: var(--neutral-gray-800);
  border: 1.4px solid var(--neutral-gray-500);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  position: relative;
  gap: 8.775rem;
  min-height: 27.813rem;
  max-width: 100%;
  flex-shrink: 0;
}
.card a{
    margin-top: 1rem;
}
.get-a-demo {
  position: relative;
  font-size: var(--font-size-2xl-6);
  line-height: 1.375rem;
  font-weight: 500;
  font-family: var(--paragraph-rg);
  color: var(--neutral-white);
  text-align: left;
  display: inline-block;
  min-width: 5.375rem;
}
.primary-button1 {
  cursor: pointer;
  border: 0;
  padding: 1.269rem 2.112rem 1.262rem 2.106rem;
  background-color: var(--primary-blue-violet);
  border-radius: 48.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.primary-button1:hover {
  background-color: var(--color-blueviolet);
}
.view-pricing1 {
  position: relative;
  font-size: var(--font-size-2xl-6);
  line-height: 1.375rem;
  font-weight: 500;
  font-family: var(--paragraph-rg);
  color: var(--neutral-white-200);
  text-align: left;
  display: inline-block;
  min-width: 2.625rem;
}
.secondary-button1 {
  cursor: pointer;
  border: 1.6px solid var(--neutral-gray-500);
  padding: 1.269rem var(--padding-13xl) 1.262rem;
  background-color: transparent;
  width: 6.844rem;
  border-radius: var(--br-43xl-1);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.secondary-button1:hover {
  background-color: var(--color-slategray-200);
  border: 1.6px solid var(--color-slategray-100);
  box-sizing: border-box;
}
.button,
.card-list {
  justify-content: flex-start;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 2.531rem;
}
.card-list {
  align-self: stretch;
  padding: 0 0 0.006rem;
  box-sizing: border-box;
  gap: 3.375rem;
}
.card-list,
.default-container,
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.default-container {
  width: 103.275rem;
  justify-content: center;
  flex-shrink: 0;
}
.section1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-81xl) var(--padding-xl) 6.25rem;
  box-sizing: border-box;
}
.themes-for-hackatly-24 {
  margin: 0;
  width: 44.5rem;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 4rem;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(180deg, #f6f6f7, #7e808f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  max-width: 100%;
}
.tilte {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.438rem;
  box-sizing: border-box;
  max-width: 100%;
}
.hackatly-24-is-taking {
  width: 30rem;
  position: relative;
  font-size: var(--paragraph-rg-size);
  line-height: 1.5rem;
  display: inline-block;
  max-width: 100%;
}
.card-child {
  width: 3.588rem;
  height: 3.344rem;
  position: relative;
}
.h6,
.paragraphrg {
  align-self: stretch;
  position: relative;
}
.h6 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 700;
  font-family: inherit;
}
.paragraphrg {
  font-size: var(--paragraph-rg-size);
  line-height: 1.5rem;
  font-family: var(--font-exo-2);
  color: var(--neutral-gray-300);
}
.card1,
.inner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner-content {
  align-self: stretch;
  gap: var(--gap-xs);
}
.card1 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-gray-800);
  border: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
  padding: var(--padding-11xl) var(--padding-20xl) 11.594rem var(--padding-10xl);
  gap: var(--gap-11xl);
  min-width: 18.438rem;
  max-width: 100%;
}
.time-interface-icon-svgrepoco {
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.h61,
.paragraph-rg1 {
  align-self: stretch;
  position: relative;
}
.h61 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 700;
  font-family: inherit;
}
.paragraph-rg1 {
  font-size: var(--paragraph-rg-size);
  line-height: 1.5rem;
  color: var(--neutral-gray-300);
}
.card2,
.inner-content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner-content1 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.card2 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-gray-800);
  border: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
  padding: 1.75rem var(--padding-20xl) var(--padding-190xl) var(--padding-10xl);
  gap: 1.625rem;
  min-width: 18.438rem;
  max-width: 100%;
}
.group-icon {
  width: 3.375rem;
  height: 3.375rem;
  position: relative;
}
.h62,
.inner-content3 {
  align-self: stretch;
  position: relative;
}
.h62 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 700;
  font-family: inherit;
}
.inner-content3 {
  font-size: var(--paragraph-rg-size);
  line-height: 1.5rem;
  color: var(--neutral-gray-300);
}
.card3,
.inner-content2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inner-content2 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.card3 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--neutral-gray-800);
  border: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
  padding: var(--padding-11xl) var(--padding-20xl) var(--padding-190xl)
    var(--padding-10xl);
  gap: var(--gap-11xl);
  min-width: 18.438rem;
  max-width: 100%;
}
.gird,
.inner-container1 {
  align-self: stretch;
  align-items: flex-start;
}
.gird {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  max-width: 100%;
}
.inner-container1 {
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--neutral-white-200);
}
.default-container1,
.inner-container1,
.section-parent,
.section2 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.default-container1 {
  width: 76.5rem;
  align-items: center;
  justify-content: center;
  padding: 3.125rem 0;
  box-sizing: border-box;
  gap: 3.75rem;
}
.section-parent,
.section2 {
  align-self: stretch;
  justify-content: flex-start;
}
.section2 {
  align-items: center;
  padding: var(--padding-51xl) var(--padding-xl);
  box-sizing: border-box;
  z-index: 1;
  margin-top: -0.006rem;
  font-size: 3.5rem;
  color: var(--neutral-gray-300);
}
.section-parent {
  align-items: flex-start;
  text-align: center;
  font-size: 4.05rem;
  color: #909091;
  font-family: var(--paragraph-rg);
}
.bg-shape-color2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 1rem;
  top: 0;
  transform: scale(2.658);
}
.wrapper-bg-shape-color1 {
  width: 88.938rem;
  height: 37.688rem;
  position: absolute;
  margin: 0 !important;
  top: -2.137rem;
  left: -6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.h11 {
  margin: 0;
  width: 17.313rem;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 4.5rem;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(180deg, #f6f6f7, #7e808f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.innovation-and-entrepreneurshi {
  margin: 0;
  font-weight: 800;
}
.blank-line {
  margin: 0;
}
.a-flagship-initiative {
  margin: 0;
  white-space: pre-wrap;
}
.subtitle1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-6xl);
  line-height: 1.625rem;
  font-family: inherit;
}
.title1 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-11xl);
}
.container,
.grid,
.section3,
.title1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.grid {
  width: 71.5rem;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}
.container,
.section3 {
  flex-direction: column;
  box-sizing: border-box;
}
.container {
  width: 78.375rem;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-gray-800);
  border: 1px solid var(--neutral-gray-500);
  align-items: flex-start;
  padding: 0;
  position: relative;
  gap: var(--gap-21xl);
  min-height: 30.5rem;
}
.section3 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-51xl) var(--padding-xl);
}
.h12,
.subtitle2 {
  font-family: inherit;
}
.h12 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 4.5rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f6f6f7, #7e808f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle2 {
  margin: 0 !important;
  width: 71.5rem;
  position: absolute;
  top: 6.375rem;
  left: calc(50% - 572px);
  font-size: var(--font-size-6xl);
  line-height: 1.625rem;
  font-weight: 800;
  white-space: pre-wrap;
  text-align: center;
  display: inline-block;
}
.blog-image,
.blog-image-child {
  border-radius: var(--br-9xs);
  background-color: var(--neutral-black-1000);
}
.blog-image-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.blog-image {
  height: 14.375rem;
}
.blog-image,
.h63,
.paragraphsm {
  align-self: stretch;
  position: relative;
}
.h63 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 700;
  font-family: inherit;
}
.paragraphsm {
  font-size: var(--paragraph-sm-size);
  line-height: 1.375rem;
  color: var(--neutral-gray-300);
}
.card4 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-gray-800);
  border: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-5xl);
  gap: 1.063rem;
  min-width: 18.375rem;
  max-width: 100%;
}
.blog-image-item,
.blog-image1 {
  border-radius: var(--br-9xs);
  background-color: var(--neutral-black-1000);
}
.blog-image-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.blog-image1 {
  height: 14.375rem;
}
.blog-image1,
.h64,
.paragraphsm1 {
  align-self: stretch;
  position: relative;
}
.h64 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 700;
  font-family: inherit;
}
.paragraphsm1 {
  font-size: var(--paragraph-sm-size);
  line-height: 1.375rem;
  color: var(--neutral-gray-300);
}
.card5 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-gray-800);
  border: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-5xl);
  gap: 1.063rem;
  min-width: 18.375rem;
  max-width: 100%;
}
.blog-image-inner,
.blog-image2 {
  border-radius: var(--br-9xs);
  background-color: var(--neutral-black-1000);
}
.blog-image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.blog-image2 {
  height: 14.375rem;
}
.blog-image2,
.h65,
.paragraphsm2 {
  align-self: stretch;
  position: relative;
}
.h65 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 700;
  font-family: inherit;
}
.paragraphsm2 {
  font-size: var(--paragraph-sm-size);
  line-height: 1.375rem;
  color: var(--neutral-gray-300);
}
.card6,
.container2 {
  border-radius: var(--br-3xs);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.card6 {
  flex: 1;
  background-color: var(--neutral-gray-800);
  border: 1px solid var(--neutral-gray-500);
  flex-direction: column;
  padding: var(--padding-6xl) var(--padding-5xl);
  gap: 1.063rem;
  min-width: 18.375rem;
  max-width: 100%;
}
.container2 {
  margin-left: -28.594rem;
  width: 78.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-81xl) 0;
  gap: var(--gap-21xl);
  max-width: 368%;
  flex-shrink: 0;
  z-index: 1;
  font-size: var(--font-size-5xl);
  color: var(--neutral-white-200);
}
.container-wrapper,
.container1,
.section-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.container1 {
  width: 75.688rem;
  border-radius: var(--br-3xs);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 27.188rem 8.375rem;
  box-sizing: border-box;
  position: relative;
  gap: 5.125rem;
}
.container-wrapper,
.section-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}
.section-group {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 4.375rem;
  box-sizing: border-box;
  gap: 4.375rem;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--neutral-gray-300);
  font-family: var(--paragraph-rg);
}
.h13 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 4.5rem;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(180deg, #f6f6f7, #7e808f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lorem-ipsum-lorem {
  position: relative;
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.secondary-button-child {
  height: 2.063rem;
  width: 2.063rem;
  position: relative;
}
.secondary-button-wrapper,
.secondary-button2 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.secondary-button2 {
  border-radius: var(--br-21xl);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  border: 1.6px solid var(--neutral-gray-500);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xl);
  gap: var(--gap-20xl);
}
.secondary-button-wrapper {
  flex-direction: column;
  justify-content: center;
}
.lorem-ipsum-lorem1 {
  position: relative;
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.secondary-button-item {
  height: 2.063rem;
  width: 2.063rem;
  position: relative;
}
.secondary-button3 {
  border-radius: var(--br-21xl);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  border: 1.6px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xl);
  gap: var(--gap-20xl);
  max-width: 100%;
}
.secondary-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.lorem-ipsum-lorem2 {
  position: relative;
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.secondary-button-inner {
  height: 2.063rem;
  width: 2.063rem;
  position: relative;
}
.secondary-button-frame,
.secondary-button4 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.secondary-button4 {
  border-radius: var(--br-21xl);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  border: 1.6px solid var(--neutral-gray-500);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xl);
  gap: var(--gap-20xl);
}
.secondary-button-frame {
  flex-direction: column;
  justify-content: center;
}
.lorem-ipsum-lorem3 {
  position: relative;
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.secondary-button-child1 {
  height: 2.063rem;
  width: 2.063rem;
  position: relative;
}
.secondary-button5 {
  border-radius: var(--br-21xl);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  border: 1.6px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xl);
  gap: var(--gap-20xl);
  max-width: 100%;
}
.frame-container,
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div {
  max-width: 100%;
}
.frame-container {
  width: 31.875rem;
  flex-shrink: 0;
  gap: var(--gap-16xl);
}
.lorem-ipsum-lorem4 {
  position: relative;
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.secondary-button-child2 {
  height: 2.063rem;
  width: 2.063rem;
  position: relative;
}
.secondary-button6 {
  border-radius: var(--br-21xl);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  border: 1.6px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xl);
  gap: var(--gap-20xl);
  max-width: 100%;
}
.secondary-button-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.lorem-ipsum-lorem5 {
  position: relative;
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.secondary-button-child3 {
  height: 2.063rem;
  width: 2.063rem;
  position: relative;
}
.secondary-button7 {
  border-radius: var(--br-21xl);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  border: 1.6px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xl);
  gap: var(--gap-20xl);
  max-width: 100%;
}
.secondary-button-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.lorem-ipsum-lorem6 {
  position: relative;
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.secondary-button-child4 {
  height: 2.063rem;
  width: 2.063rem;
  position: relative;
}
.secondary-button8 {
  border-radius: var(--br-21xl);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  border: 1.6px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xl);
  gap: var(--gap-20xl);
  max-width: 100%;
}
.secondary-button-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.lorem-ipsum-lorem7 {
  position: relative;
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.secondary-button-child5 {
  height: 2.063rem;
  width: 2.063rem;
  position: relative;
}
.secondary-button9 {
  border-radius: var(--br-21xl);
  background: linear-gradient(
    261.47deg,
    rgba(21, 25, 52, 0.52),
    rgba(21, 25, 52, 0.08) 47.92%,
    rgba(21, 25, 52, 0.49)
  );
  border: 1.6px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-3xl);
  gap: var(--gap-20xl);
  max-width: 100%;
}
.secondary-button-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.frame-group,
.frame-parent1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-16xl);
}
.frame-parent1 {
  width: 31.875rem;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-group {
  width: 65.938rem;
  overflow-x: auto;
  flex-direction: row;
  max-width: 100%;
  font-size: var(--font-size-2xl-6);
}
.bg-shape-color3 {
  width: 40%;
  margin-top: 20rem;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: -2.687rem;
  transform: scale(1.144);
}
.wrapper-bg-shape-color2 {
  width: 88.938rem;
  height: 37.688rem;
  position: absolute;
  margin: 0 !important;
  top: 3.313rem;
  left: -9.375rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-parent,
.h1-parent,
.section-inner,
.section4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.h1-parent {
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  gap: var(--gap-16xl);
}
.frame-parent,
.section-inner,
.section4 {
  justify-content: flex-start;
}
.section-inner {
  width: 80.125rem;
  border-radius: 24px;
  background-color: rgba(107, 109, 123, 0.09);
  overflow: hidden;
  align-items: flex-start;
  padding: 2.125rem 6.188rem;
  min-height: 37.375rem;
}
.frame-parent,
.section4 {
  align-self: stretch;
}
.section4 {
  align-items: center;
  padding: var(--padding-51xl) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--neutral-white-200);
  font-family: var(--paragraph-rg);
}
.frame-parent {
  align-items: flex-start;
  padding: 0 0 109.119rem;
}
.vector-icon1,
.vector-icon2 {
  height: 1.175rem;
  width: 0.856rem;
  position: relative;
}
.vector-icon2 {
  height: 0.944rem;
  width: 0.525rem;
}
.vector-icon3,
.vector-icon4 {
  height: 2.963rem;
  width: 9.963rem;
  position: relative;
}

.vector-icon5 {
  height: 0.944rem;
  width: 0.888rem;
  position: relative;
}
.vector-icon6,
.vector-icon7 {
  height: 0.963rem;
  width: 0.9rem;
  position: relative;
}
.vector-icon7 {
  height: 1.163rem;
  width: 0.556rem;
}
.vector-parent {
  height: 1.256rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  gap: 0.125rem;
}
.logo1,
.logo2 {
  display: flex;
  justify-content: flex-start;
}
.logo2 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.logo1 {
  width: 9.688rem;
  flex-direction: column;
  align-items: flex-start;
}
.subscribe-to-our {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 700;
  font-family: inherit;
}
.enter-your-email {
  width: 7.688rem;
  border: 0;
  outline: 0;
  font-family: var(--paragraph-rg);
  font-size: var(--paragraph-rg-size);
  background-color: transparent;
  height: 1.5rem;
  position: relative;
  line-height: 1.5rem;
  color: var(--neutral-gray-400);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.logic-gate {
  align-self: stretch;
  border-radius: 50px;
  background-color: var(--neutral-gray-800);
  border: 1px solid var(--neutral-gray-500);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 1.688rem;
}
.get-a-demo1 {
  position: relative;
  font-size: var(--paragraph-rg-size);
  line-height: 1rem;
  font-weight: 500;
  font-family: var(--paragraph-rg);
  color: var(--neutral-white);
  text-align: left;
  display: inline-block;
  min-width: 4.875rem;
}
.primary-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--primary-blue-violet);
  align-self: stretch;
  border-radius: var(--br-17xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.primary-button2:hover {
  background-color: var(--color-blueviolet);
}
.feature-combiner {
  align-self: stretch;
  gap: var(--gap-mini);
}
.feature-combiner,
.inner-container2,
.subscribe-to-our-newsletter-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.subscribe-to-our-newsletter-parent {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-gray-800);
  border: 1px solid var(--neutral-gray-500);
  padding: 2.5rem var(--padding-10xl);
  gap: 1.188rem;
}
.inner-container2 {
  width: 24.563rem;
  gap: var(--gap-16xl);
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--neutral-white-200);
}
.pages {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 500;
  display: inline-block;
  min-width: 3.563rem;
}
.link,
.link1,
.link2,
.link3,
.link4,
.link5,
.link6 {
  position: relative;
  line-height: 1rem;
  font-weight: 500;
  display: inline-block;
  min-width: 2.875rem;
}
.link1,
.link2,
.link3,
.link4,
.link5,
.link6 {
  min-width: 2.938rem;
}
.link2,
.link3,
.link4,
.link5,
.link6 {
  min-width: 3.875rem;
}
.link3,
.link4,
.link5,
.link6 {
  min-width: 2.125rem;
}
.link4,
.link5,
.link6 {
  min-width: 4.563rem;
}
.link5,
.link6 {
  min-width: 3.313rem;
}
.link6 {
  min-width: 6.438rem;
}
.footer-link-list,
.footer-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-link-list {
  gap: var(--gap-6xl);
  font-size: var(--paragraph-rg-size);
}
.footer-list-wrapper {
  gap: var(--gap-17xl);
}
.link10,
.link11,
.link12,
.link7,
.link8,
.link9 {
  position: relative;
  line-height: 1rem;
  font-weight: 500;
  display: inline-block;
  min-width: 4.188rem;
}
.link10,
.link11,
.link12,
.link8,
.link9 {
  min-width: 3.813rem;
}
.link10,
.link11,
.link12,
.link9 {
  min-width: 6.875rem;
}
.link10,
.link11,
.link12 {
  min-width: 7.75rem;
}
.link11,
.link12 {
  min-width: 2.688rem;
}
.link12 {
  min-width: 3.75rem;
  white-space: nowrap;
}
.footer-link-list1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 4.125rem 0 0;
  gap: var(--gap-6xl);
  font-size: var(--paragraph-rg-size);
}
.utility-pages {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 500;
  display: inline-block;
  min-width: 7.063rem;
}
.link13 {
  display: inline-block;
  min-width: 5.375rem;
}
.link13,
.link14,
.link15,
.link16,
.link17 {
  position: relative;
  line-height: 1rem;
  font-weight: 500;
}
.link15,
.link16,
.link17 {
  display: inline-block;
  min-width: 7rem;
}
.link16,
.link17 {
  min-width: 4.25rem;
}
.link17 {
  min-width: 5.188rem;
}
.footer-link-list2,
.footer-list-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-link-list2 {
  gap: var(--gap-6xl);
  font-size: var(--paragraph-rg-size);
}
.footer-list-wrapper1 {
  padding: 0 0 5.125rem;
  gap: var(--gap-17xl);
}
.feature-extractor,
.grid1 {
  align-self: stretch;
  z-index: 1;
}
.grid1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.feature-extractor {
  height: 0.063rem;
  position: relative;
  border-top: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
}
.copyright-product {
  color: var(--neutral-gray-300);
}
.webocean-ltd {
  color: inherit;
}
.powered-by {
  color: var(--neutral-gray-300);
}
.webflow {
  color: inherit;
}
.copyright-product-container {
  position: relative;
  line-height: 1.5rem;
}
.data-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.rifacebook-fill-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.social-link {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-black-1000);
  border: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-9xs);
}
.mditwitter-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.social-link1 {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-black-1000);
  border: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-9xs);
}
.rilinkedin-fill-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.social-link2 {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-black-1000);
  border: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-9xs);
}
.phinstagram-logo-fill-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.social-link3 {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-black-1000);
  border: 1px solid var(--neutral-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-9xs);
}
.data-merger,
.footer-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.footer-bottom {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.neural-network {
  width: 76.5rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.813rem;
  font-size: var(--paragraph-rg-size);
  color: var(--neutral-white-200);
}
.grid-parent,
.neural-network,
.saas-landing-page-weboceani-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.grid-parent {
  width: 78.063rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.813rem;
}
.saas-landing-page-weboceani-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--neutral-gray-300);
}
.saas-landing-page-weboceani {
  width: 100%;
  position: relative;
  background-color: var(--neutral-black-1000);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  letter-spacing: normal;
  text-align: left;
  font-size: 3.75rem;
  color: #7e808f;
  font-family: var(--paragraph-rg);
}
@media screen and (max-width: 1200px) {
  .card {
    gap: 8.775rem 4.375rem;
  }
  .grid {
    gap: 8.25rem 4.125rem;
  }
  .container1 {
    padding-left: var(--padding-198xl);
    padding-right: var(--padding-198xl);
    box-sizing: border-box;
  }
  .section-group {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .section-inner {
    padding-left: var(--padding-30xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
  .frame-parent {
    padding-bottom: 30rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .h1 {
    font-size: 3rem;
    line-height: 3.625rem;
  }
  .innovation-amico-1-icon,
  .title {
    flex: 1;
  }
  .title-container {
    flex-wrap: wrap;
  }
  .h5 {
    font-size: var(--font-size-32xl);
    line-height: 2.688rem;
  }
  .themes-for-hackatly-24 {
    font-size: var(--font-size-26xl);
    line-height: 3.188rem;
  }
  .default-container1 {
    padding-top: var(--padding-51xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .section2 {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .h11,
  .h12 {
    font-size: var(--font-size-32xl);
    line-height: 3.625rem;
  }
  .container1 {
    padding-bottom: 5.438rem;
    box-sizing: border-box;
  }
  .section-group {
    gap: 2.188rem 4.375rem;
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .h13 {
    font-size: var(--font-size-32xl);
    line-height: 3.625rem;
  }
  .footer-bottom,
  .grid1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
  .navbar-container {
    width: 51.625rem;
  }
  .title {
    min-width: 100%;
  }
  .title-container {
    padding-top: var(--padding-53xl);
    padding-bottom: var(--padding-53xl);
    box-sizing: border-box;
  }
  .inner-container {
    gap: 1.5rem 2.956rem;
  }
  .card {
    gap: 8.775rem 2.188rem;
  }
  .card-list {
    gap: 1.688rem 3.375rem;
  }
  .default-container {
    gap: 2.5rem 5.063rem;
  }
  .section1 {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .tilte {
    gap: 1.25rem 2.5rem;
  }
  .card1,
  .card2,
  .card3 {
    padding-top: var(--padding-51xl);
    box-sizing: border-box;
  }
  .card1 {
    padding-bottom: 7.563rem;
  }
  .card2,
  .card3 {
    padding-bottom: var(--padding-117xl);
  }
  .default-container1 {
    gap: 1.875rem 3.75rem;
  }
  .section2 {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .grid {
    gap: 8.25rem 2.063rem;
  }
  .container {
    gap: 1.25rem 2.5rem;
  }
  .container2,
  .section3 {
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .container2 {
    gap: var(--gap-xl);
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
  }
  .container1 {
    gap: 2.563rem 5.125rem;
    padding-left: var(--padding-89xl);
    padding-right: var(--padding-89xl);
    box-sizing: border-box;
  }
  .section-group {
    gap: 1.063rem 4.375rem;
  }
  .secondary-button2,
  .secondary-button3,
  .secondary-button4,
  .secondary-button5,
  .secondary-button6,
  .secondary-button7,
  .secondary-button8,
  .secondary-button9 {
    flex-wrap: wrap;
  }
  .frame-group {
    gap: 2.188rem 1.063rem;
  }
  .h1-parent {
    gap: 1.063rem 2.188rem;
  }
  .section-inner {
    padding: var(--padding-3xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .section4 {
    padding-top: var(--padding-26xl);
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .frame-parent {
    padding-bottom: 19.5rem;
    box-sizing: border-box;
  }
  .grid-parent {
    gap: 1.375rem 2.813rem;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: 2.25rem;
    line-height: 2.688rem;
  }
  .subtitle {
    font-size: var(--font-size-xl);
    line-height: 1.313rem;
  }
  .title-container {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .h5 {
    font-size: var(--font-size-19xl);
    line-height: 2rem;
  }
  .paragraph-rg {
    font-size: var(--font-size-mid);
    line-height: 1.625rem;
  }
  .card {
    gap: 8.775rem 1.125rem;
  }
  .get-a-demo,
  .view-pricing1 {
    font-size: var(--font-size-mid);
    line-height: 1.063rem;
  }
  .button {
    gap: 2.531rem 1.25rem;
  }
  .default-container {
    gap: 1.25rem 5.063rem;
  }
  .section1 {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .themes-for-hackatly-24 {
    font-size: 2.125rem;
    line-height: 2.375rem;
  }
  .h6 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .card1 {
    gap: 0.938rem 1.875rem;
  }
  .h61,
  .h62 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .card3 {
    gap: 0.938rem 1.875rem;
  }
  .default-container1 {
    padding-bottom: 1.313rem;
    box-sizing: border-box;
  }
  .h11 {
    font-size: var(--font-size-19xl);
    line-height: 2.688rem;
  }
  .subtitle1 {
    font-size: var(--font-size-xl);
    line-height: 1.313rem;
  }
  .grid {
    gap: 8.25rem 1rem;
  }
  .h12 {
    font-size: var(--font-size-19xl);
    line-height: 2.688rem;
  }
  .subtitle2 {
    font-size: var(--font-size-xl);
    line-height: 1.313rem;
  }
  .h63 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .card4 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .h64 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .card5 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .h65 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .card6,
  .container1 {
    box-sizing: border-box;
  }
  .card6 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .container1 {
    gap: 1.25rem 5.125rem;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: 3.563rem;
  }
  .section-group {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .h13 {
    font-size: var(--font-size-19xl);
    line-height: 2.688rem;
  }
  .lorem-ipsum-lorem,
  .lorem-ipsum-lorem1,
  .lorem-ipsum-lorem2,
  .lorem-ipsum-lorem3,
  .lorem-ipsum-lorem4,
  .lorem-ipsum-lorem5,
  .lorem-ipsum-lorem6,
  .lorem-ipsum-lorem7 {
    font-size: var(--font-size-mid);
    line-height: 1.063rem;
  }
  .subscribe-to-our {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .inner-container2 {
    gap: 1.063rem 2.188rem;
  }
  .pages,
  .utility-pages {
    font-size: var(--paragraph-rg-size);
    line-height: 1.625rem;
  }
}




