@media screen and (max-width: 2000px) {
  .navbar-menu {
    margin-left: 40vmin;
  }
}
@media screen and (max-width: 1200px) {
  .card {
    gap: 8.775rem 4.375rem;
  }
  .navbar-menu {
    margin-left: 40vmin;
  }
  .shape-icon {
    width: 110%;
    left: -0.562rem;
  }
  .slider-item {
    gap: 4.563rem 2.25rem;
  }
  .sibling-subtree {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .grid {
    gap: 8.25rem 4.125rem;
  }
  .container1 {
    padding-left: var(--padding-198xl);
    padding-right: var(--padding-198xl);
    box-sizing: border-box;
  }
  .slider-item1 {
    gap: 4.563rem 2.25rem;
  }
  .frame-parent {
    gap: 1.875rem 3.75rem;
  }
  .section-inner {
    padding-left: var(--padding-30xl);
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
  .section3 {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .footerContainer {
    flex-direction: column;
  }
  .linkContainer {
    margin-left: 31vmin;
    margin-top: 10vmin;
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
  }
  .registor-now-parent {
    width: 80vw;
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
    font-size: 2rem;
  }
  .navbar-menu {
    margin-left: 10vmin;
  }
  .hack_title {
    height: 6rem;
  }

  .title-container {
    gap: 4rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .innovation-amico-1-icon {
    height: 36rem;
  }

  .h1 {
    font-size: 3rem;
    line-height: 3.625rem;
  }

  .h5 {
    font-size: var(--font-size-32xl);
    line-height: 2.688rem;
  }
  .leaf-links {
    padding-bottom: 5.688rem;
    box-sizing: border-box;
  }
  .h2 {
    font-size: var(--font-size-26xl);
    line-height: 3.188rem;
  }
  .slider-item,
  .slider-item1 {
    justify-content: center;
    grid-template-columns: repeat(1, minmax(257px, 446px));
  }

  .shape-icon {
    left: -1.562rem;
  }

  .themes-for-hackatly-24 {
    font-size: var(--font-size-26xl);
    line-height: 3.188rem;
  }
  .default-container1 {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .sibling-subtree {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .h11,
  .h12 {
    font-size: var(--font-size-32xl);
    line-height: 3.625rem;
  }
  .h21 {
    font-size: var(--font-size-26xl);
    line-height: 3.188rem;
  }
  .h13 {
    font-size: var(--font-size-32xl);
    line-height: 3.625rem;
  }
  .h4 {
    font-size: 2rem;
    line-height: 2.375rem;
  }
  .section4 {
    padding-top: var(--padding-111xl);
    padding-bottom: var(--padding-111xl);
    box-sizing: border-box;
  }
  .tag-cloud {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .iedc1 {
    font-size: 1.688rem;
  }
  .footer-bottom,
  .grid1 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) {
  .frame-parent1 {
    flex-direction: column;
  }
  .navbar-container {
    width: 51.625rem;
  }
  .innovation-amico-1-icon {
    height: 20rem;
  }
  .section {
    min-height: 300px;
  }
  .inner-container {
    gap: 1.5rem 2.956rem;
  }
  .navbar-menu {
    margin-left: 10vmin;
  }
  .card {
    gap: 8.775rem 2.188rem;
  }
  .card-list {
    gap: 1.688rem 3.375rem;
  }
  .shape-icon {
    width: 105%;
    left: -1.26rem;
  }
  .paragraph-rg1 {
    font-size: 1.15rem;
  }
  .inner-container1 {
    font-size: 1.8rem;
  }
  .default-container {
    gap: 2.5rem 5.063rem;
  }
  .section1 {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .slider-item {
    gap: 4.563rem 1.125rem;
    grid-template-columns: minmax(257px, 1fr);
  }
  .tilte {
    gap: 1.25rem 2.5rem;
  }
  .title {
    margin-top: -4vmin;
  }
  .card4 {
    padding-bottom: 7.563rem;
    height: 23rem;
  }
  .default-container1,
  .parent-subtree {
    gap: 1.875rem 3.75rem;
  }
  .grid {
    gap: 8.25rem 2.063rem;
  }
  .container {
    gap: 1.25rem 2.5rem;
  }
  .section2 {
    padding-top: var(--padding-26xl);
  }
  .container2,
  .section-wrapper,
  .section2 {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .container2 {
    gap: var(--gap-xl);
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
  }
  .container1 {
    gap: 2.563rem 5.125rem;
    padding-left: var(--padding-89xl);
    padding-right: var(--padding-89xl);
    box-sizing: border-box;
  }
  .slider-item1 {
    gap: 4.563rem 1.125rem;
    grid-template-columns: minmax(257px, 1fr);
  }
  .container-parent {
    gap: 2.188rem 4.375rem;
  }
  .secondary-button2,
  .secondary-button3,
  .secondary-button4,
  .secondary-button5,
  .secondary-button6,
  .secondary-button7,
  .secondary-button8,
  .secondary-button9 {
    flex-wrap: wrap;
  }
  .frame-parent1 {
    gap: 2.188rem 1.063rem;
  }
  .h1-parent {
    gap: 1.063rem 2.188rem;
  }
  .section-inner {
    padding: var(--padding-3xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .section3 {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .default-container2 {
    gap: 1.875rem 3.75rem;
  }
  .tag-cloud {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .h5 span {
    font-size: 44px;
  }
  .hackatly-241 span {
    font-size: 52px;
  }

  .descendant-tree {
    padding: 4rem;
  }

  .bg-shape-icon1 {
    width: 40rem;
  }
}
@media screen and (max-width: 750px) {
  .title-container {
    flex-direction: column-reverse;
    height: fit-content;
  }

  .title {
    width: 100%;
  }
  .innovation-amico-1-icon {
    height: 20rem;
    position: relative;
    right: 0;
  }
  .navbar-menu {
    display: none;
    margin-left: 30vmin;
  }
  .paragraph-rg p {
    font-size: 1rem;
  }
  .frame-parent1 {
    flex-direction: column;
  }

  .subtitle2 {
    padding: 1rem;
  }
  .navbar-container {
    width: 51.625rem;
  }
  .ontop2 {
    z-index: 3;
  }
  .title {
    width: 20rem;
  }

  .title-container {
    flex-direction: row;
  }
  .inner-container {
    gap: 1.5rem 2.956rem;
  }
  .card {
    gap: 8.775rem 2.188rem;
  }
  .card-list {
    gap: 1.688rem 3.375rem;
  }
  .default-container {
    gap: 2.5rem 5.063rem;
  }
  .section1 {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .slider-item {
    gap: 4.563rem 1.125rem;
    grid-template-columns: minmax(257px, 1fr);
  }
  .tilte {
    gap: 1.25rem 2.5rem;
  }
  .card4 {
    padding-bottom: 7.563rem;
  }
  .default-container1,
  .parent-subtree {
    gap: 1.875rem 3.75rem;
  }
  .grid {
    gap: 8.25rem 2.063rem;
  }
  .container {
    gap: 1.25rem 2.5rem;
  }
  .section2 {
    padding-top: var(--padding-26xl);
  }
  .container2,
  .section-wrapper,
  .section2 {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .container2 {
    gap: var(--gap-xl);
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
  }
  .container1 {
    gap: 2.563rem 5.125rem;
    padding-left: var(--padding-89xl);
    padding-right: var(--padding-89xl);
    box-sizing: border-box;
  }
  .slider-item1 {
    gap: 4.563rem 1.125rem;
    grid-template-columns: minmax(257px, 1fr);
  }
  .container-parent {
    gap: 2.188rem 4.375rem;
  }
  .secondary-button2,
  .secondary-button3,
  .secondary-button4,
  .secondary-button5,
  .secondary-button6,
  .secondary-button7,
  .secondary-button8,
  .secondary-button9 {
    flex-wrap: wrap;
  }
  .frame-parent1 {
    gap: 2.188rem 1.063rem;
  }
  .h1-parent {
    gap: 1.063rem 2.188rem;
  }
  .section-inner {
    padding: var(--padding-3xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .section3 {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .default-container2 {
    gap: 1.875rem 3.75rem;
  }
  .tag-cloud {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .h5 span {
    font-size: 40px;
  }
  .hackatly-241 span {
    font-size: 48px;
  }
}
@media screen and (max-width: 1200px) {
  .frame-parent2 {
    width: 80vw;
  }
}
@media screen and (max-width: 500px) {
  .title-container {
    flex-direction: column-reverse;
    height: fit-content;
  }

  .title {
    width: 100%;
  }
  .logo img {
    width: 90%;
  }
  .innovation-amico-1-icon {
    height: 20rem;
    position: relative;
    right: 0;
  }
  .h1 {
    font-size: 2.25rem;
    line-height: 2.688rem;
  }
  .subtitle {
    font-size: var(--font-size-xl);
    line-height: 1.313rem;
  }
  .title-container {
    padding-top: 6rem;
    gap: 1rem;
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .hack_title {
    height: 5rem;
  }
  .h5 {
    font-size: var(--font-size-19xl);
    line-height: 2rem;
  }
  .h5 span {
    font-size: 28px;
  }
  .hackatly-241 span {
    font-size: 36px;
  }
  .paragraph-rg p {
    font-size: 16px;
  }
  .card {
    gap: 8.775rem 1.125rem;
  }
  .get-a-demo,
  .view-pricing1 {
    font-size: var(--font-size-mid);
    line-height: 1.063rem;
  }
  .button {
    gap: 2.531rem 1.25rem;
  }
  .default-container {
    gap: 1.25rem 5.063rem;
  }
  .section1 {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }

  .shape-icon {
    left: -0.5rem;
  }
  .leaf-links {
    padding-bottom: var(--padding-40xl);
    box-sizing: border-box;
  }
  .h2,
  .themes-for-hackatly-24 {
    font-size: var(--font-size-15xl);
    line-height: 2.375rem;
  }
  .h6 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .card4 {
    gap: 0.938rem 1.875rem;
  }
  .h61,
  .h62 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }

  .default-container1 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .sibling-subtree {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .h11 {
    padding-top: 1rem;
    font-size: var(--font-size-19xl);
    line-height: 2.688rem;
  }
  .subtitle1 {
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 1.313rem;
  }
  .grid {
    gap: 8.25rem 1rem;
  }
  .h12 {
    font-size: var(--font-size-19xl);
    line-height: 2.688rem;
  }

  .h63 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .card7 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .h64 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .card8 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .h65 {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .card9,
  .container1 {
    box-sizing: border-box;
  }
  .card9 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .container1 {
    gap: 1.25rem 5.125rem;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .h21 {
    font-size: var(--font-size-15xl);
    line-height: 2.375rem;
  }
  .container-parent {
    gap: 1.063rem 4.375rem;
  }
  .h13 {
    font-size: var(--font-size-19xl);
    line-height: 2.688rem;
  }
  .lorem-ipsum-lorem,
  .lorem-ipsum-lorem1,
  .lorem-ipsum-lorem2,
  .lorem-ipsum-lorem3,
  .lorem-ipsum-lorem4,
  .lorem-ipsum-lorem5,
  .lorem-ipsum-lorem6,
  .lorem-ipsum-lorem7 {
    font-size: var(--font-size-mid);
    line-height: 1.063rem;
  }
  .h4 {
    font-size: var(--font-size-5xl);
    line-height: 1.813rem;
  }
  .section4 {
    padding-top: var(--padding-65xl);
    padding-bottom: var(--padding-65xl);
    box-sizing: border-box;
  }
  .iedc1 {
    font-size: var(--font-size-xl);
  }
  .registor-now {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .inner-container3 {
    gap: 1.063rem 2.188rem;
  }
  .pages,
  .utility-pages {
    font-size: var(--paragraph-rg-size);
    line-height: 1.625rem;
  }
  .tree-view {
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
  .frame-parent2 {
    width: 80vw;
  }
}
@media screen and (max-width: 1200px) {
  .frame-parent2 {
    width: 70vw;
  }
}
